<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Agrihelp - Contact Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link  rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/fontawesome-min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/xsIcon.css">
    <link rel="stylesheet" href="/assets/css/iconmoon.css">
    <link rel="stylesheet" href="/assets/css/isotope.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/navigation.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <script src="/assets/js/jquery-3.2.1.min.js" defer></script>
    <script src="/assets/js/bootstrap.min.js" defer></script>
    <script src="/assets/js/jquery-mixtub.js" defer></script>
    <script src="/assets/js/jquery.magnific-popup.min.js" defer></script>
    <script src="/assets/js/owl.carousel.min.js" defer></script>
    <script src="/assets/js/navigation.js" defer></script>
    <script src="/assets/js/jquery.appear.min.js" defer></script>
    <script src="/assets/js/isotope.js" defer></script>
    <script src="/assets/js/wow.min.js" defer></script>
    <script src="/assets/js/main.js" defer></script>

</head>

<body>
    <div id="preloader">
        <div class="preloader-wrapper">
            <div class="la-ball-clip-rotate-pulse la-2x">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- <section class="xs-header-middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 align-self-center ">
                    <div class="logo">
                        <h3 style="color: #008435;">Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section class="banner-inner-sec" style="background-image:url('/assets/images/contact-banner.jpg')">
        <div class="banner-table">
            <div class="banner-table-cell">
                <div class="container">
                    <div class="banner-inner-content">
                        <h2 class="banner-inner-title">Contact us</h2>
                        <ul class="xs-breadcumb">
                            <li><a href="/index.html"> Home / </a> <a href="/index.html">Pages /</a> contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="xs-get-in-touch">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="get-in-touch-cont text-center">
                        <h3><span class="light-text">Get</span> in touch</h3>
                        <p>Let our experts and our contact team help you</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="xs-contact-sec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-xl-8">
                    <div class="xs-form-group">
                        <form action="#" method="POST" id="xs-contact-form" class="xs-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="name" placeholder="Your name"
                                        id="xs_contact_name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control" name="email" placeholder="Your email"
                                        id="xs_contact_email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" name="phone-number"
                                        placeholder="Your phone number" id="xs_contact_phone">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="Subject" placeholder="Subject"
                                        id="xs_contact_subject">
                                </div>
                            </div>
                            <textarea name="massage" placeholder="Message" id="x_contact_massage"
                                class="form-control message-box" cols="30" rows="10"></textarea>
                            <div class="xs-btn-wraper">
                                <input type="submit" class="xs-btn" id="xs_contact_submit" value="SEND MESSAGE">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="xs-contact-infomation xs-contact-info-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info-group">
                        <i class="icon-address"></i>
                        <h4>Visit our office</h4>
                        <span>36/A, Lake cercus, Monali</span>
                        <span class="text-color">Newyork, NY, US</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info-group">
                        <i class="icon-mail"></i>
                        <h4>Mail us</h4>
                        <a href="//cdn-cgi/l/email-protection#cdaea2a3b9acaeb98da8b5aca0bda1a8e3aea2a0"><span
                                class="__cf_email__"
                                data-cfemail="197c61787469757c597e74787075377a7674">[email&#160;protected]</span></a>
                        <a href="//cdn-cgi/l/email-protection#2940474f46694c51484459454c074a4644"><span
                                class="__cf_email__"
                                data-cfemail="096b6d6c71686479656c496e64686065276a6664">[email&#160;protected]</span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info-group">
                        <i class="icon-call"></i>
                        <h4>Call us</h4>
                        <span>000 3872 3627</span>
                        <span class="text-color">(Mon- tue) at 9.am to 6pm</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="xs-footer-sec">
        <div class="container">
            <div class="footer-top-item">
                <div class="xs-back-to-top">
                    <a href="/#" class="BackTo"><i class="fa fa-angle-double-up"></i> </a>
                </div>
            </div>
            <div class="footer-item">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widgets">
                            <p>
                                Fruit is their fill meat hath abundantly place meat don't stars so and which signs third
                                second
                            </p>
                            <ul class="footer-social">
                                <li>
                                    <a href="/#" class="text-light" ><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="/#" class="text-light"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="/#" class="text-light"><i class="fab fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="/#" class="text-light"><i class="fab fa-instagram"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widgets">
                            <h3 class="widget-title">
                                <a class="text-light" href="/index.html">Home</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widgets">
                            <a href="/#">
                                <h3 class="widget-title">Our Services</h3>
                            </a>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright 2018. All
                            Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer-bottom-menu">
                            <li>
                                <a href="/#">Terms of Service </a>
                            </li>
                            <li>
                                <a href="/#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
</body>

</html>