<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Flexy lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Flexy admin lite design, Flexy admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description" content="Flexy Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Agrihelp - dashboard</title>
    <link href="/dashboard/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="/dashboard/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="/dashboard/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li onclick="routeToDashboard()" class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li onclick="routeToLoans()" class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                aria-expanded="false"><i class="fad fa-money-bill-alt"></i><span class="hide-menu">Loans</span></a></li>
                        <li onclick="routeToShop()" class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Shopping</span></a></li>
                        <li onclick="routeToOrders()" class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                aria-expanded="false"><i class="fas fa-box"></i><span class="hide-menu">Orders</span></a></li>
                    </ul>
                </nav>
            </div>
        </aside>


        <section style="display: block;" id="shopping">
            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 d-flex align-items-center">
                                    <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Shopping</li>
                                </ol>
                                </nav>
                            <h1 class="mb-0 fw-bold">Shopping</h1> 
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center">


                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Equipments</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage1.jpg" >
                                    <h4 class="py-1">
                                        Kraft Seeds 7Pcs Gardening Hand Tool Kit for Home Gardening (Hand Cultivator, Hand Fork, Big Hand Trowel, Small Hand Trowel, Hand
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.999</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Machinary</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage2.jpg" >
                                    <h4 class="py-1">
                                        NEPTUNE SIMPLIFY FARMING NC-41 1400W Electric Portable Garden Tiller, Cultivator and Rotavator (Orange)
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.13500</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Fertilizers</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage3.jpg" >
                                    <h4 class="py-1">
                                        TrustBasket Organic Vermicompost Fertilizer Manure for Plants - 5 KG
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.339</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Pesticides</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage4.jpg" >
                                    <h4 class="py-1">
                                        UTKARSH Huminoz-98 Humic Acid (98%) for Plant | Plant Fertilizer for Potted Plants | Plant Growth Enhancer, Soil Conditioner, Improves Plant Root System (900gm) (Set of 2)
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.699</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Equipments</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage5.jpg" >
                                    <h4 class="py-1">
                                        Sharpex Telescopic Metal Rake, Adjustable Rake for Quick Clean Up of Lawn and Yard, Garden Leaf Rake, Expanding Handle with Adjustable 31 to 64 Inch Width Folding Head
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.899</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Machinary</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage6.jpg" >
                                    <h4 class="py-1">
                                        Balwaan Brush Cutter 4 Stroke Side Pack Crop Cutter Machine | Grass Trimming | Lawn Trimming | Farm Weeding | Weeding in Fruits and Vegetables
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.12000</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Fertilizers</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage7.jpg" >
                                    <h4 class="py-1">
                                        TrustBasket Neem Cake Powder Organic Fertilizer and Pest Repellent for Plants (450 GMS) - Set of 2
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.235</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-2">
                            <div class="card h-100 my-2">
                                <div class="card-body">
                                    <h4 class="card-title">Pesticides</h4>
                                </div>
                                <div class="text-center">
                                    <img src="/assets/images/shopping/shoppingImage8.jpg" >
                                    <h4 class="py-1">
                                        TrustBasket Neem Cake Powder Organic Fertilizer and Pest Repellent for Plants (450 GMS)
                                    </h4>
                                    <button class="btn btn-outline-secondary my-2">Purchase Rs.200</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <section style="display: none;" id="loans">
            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 d-flex align-items-center">
                                    <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Loans</li>
                                </ol>
                                </nav>
                            <h1 class="mb-0 fw-bold">Loans</h1> 
                        </div>
                    </div>
                </div>
            <div class="w-100">
                <div class="row justify-content-center">
                    <div class="col-md-8 border shadow p-5 m-5">
                        <h1 class=" m-5 p-5">
                            Loan facilities are not available yet.
                        </h1>
                    </div>
                </div>
            </div>

        </section>

        <section style="display: none;" id="orders">
            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 d-flex align-items-center">
                                    <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Orders</li>
                                </ol>
                                </nav>
                            <h1 class="mb-0 fw-bold">Orders</h1> 
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Date</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Fertilizer</td>
                                <td>24-9-21</td>
                                <td>Rs. 399</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Motor</td>
                                <td>24-9-21</td>
                                <td>Rs. 13000</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Equipments</td>
                                <td>10-12-21</td>
                                <td>Rs. 899</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
        </section>
    </div>

    <script src="/dashboard/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <script src="/dashboard/dist/js/waves.js"></script>
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <script src="/dashboard/dist/js/custom.js"></script>
    <script src="/dashboard/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/dashboard/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/dashboard/dist/js/pages/dashboards/dashboard1.js"></script>
    <script>

        const shop = document.getElementById('shopping')
        const loans = document.getElementById('loans')
        const orders = document.getElementById('orders')
        function routeToShop(){
            loans.style.display = 'none'
            shop.style.display = 'block'
            orders.style.display = 'none'
        }
        function routeToDashboard(){}
        function routeToLoans(){
            loans.style.display = 'block'
            shop.style.display = 'none'
            orders.style.display = 'none'
        }
        function routeToOrders(){
            loans.style.display = 'none'
            shop.style.display = 'none'
            orders.style.display = 'block'
        }
    </script>
</body>

</html>